@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #212529;
    --upper-background-color: #2A2E32;
    --text-color: #F5F5F5;
    --text-secondary-color: #848588;
    --primary-color: #FC413B;
    --link-hover-color: #FC413B;
    --button-hover-color: #EB3E3B;
    --sub-color: #FEBC2B;
    --section-blue: #1B6CA8;
    --section-green: #53A653;
}


/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    background: var(--background-color);
}

a {
    text-decoration: none;
}


button {
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: var(--button-hover-color);
}


